@font-face {
  font-family: "iconfont"; /* Project id 5065047 */
  src: url('iconfont.woff2?t=1784788529302') format('woff2'),
       url('iconfont.woff?t=1784788529302') format('woff'),
       url('iconfont.ttf?t=1784788529302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nodenoOperation:before {
  content: "\e69c";
}

.icon-nodeprocessOutput:before {
  content: "\e633";
}

.icon-nodeintentRecognition:before {
  content: "\e604";
}

.icon-nodeemail:before {
  content: "\e60a";
}

.icon-nodedingding:before {
  content: "\e648";
}

.icon-nodefeishu:before {
  content: "\e802";
}

.icon-nodeqiyeweixin:before {
  content: "\e986";
}

.icon-nodeonline_search:before {
  content: "\e613";
}

.icon-nodequestion:before {
  content: "\e82f";
}

.icon-nodebusiness:before {
  content: "\e608";
}

.icon-nodetool:before {
  content: "\e679";
}

.icon-nodedoc:before {
  content: "\e61b";
}

.icon-nodeworkflow:before {
  content: "\e60f";
}

.icon-nodelist:before {
  content: "\e632";
}

.icon-nodeknowledge_base:before {
  content: "\e602";
}

.icon-nodevariable:before {
  content: "\e61f";
}

.icon-nodetext:before {
  content: "\e766";
}

.icon-nodemcp:before {
  content: "\e9d8";
}

.icon-nodemultimodal:before {
  content: "\e603";
}

.icon-nodecache:before {
  content: "\e684";
}

.icon-nodenon_empty_select:before {
  content: "\e634";
}

.icon-nodeend:before {
  content: "\e6de";
}

.icon-nodecode:before {
  content: "\e6f7";
}

.icon-nodelist_sort:before {
  content: "\e609";
}

.icon-nodemq_push:before {
  content: "\e729";
}

.icon-nodeloop:before {
  content: "\e62b";
}

.icon-nodelist_filter:before {
  content: "\e718";
}

.icon-nodestring_template:before {
  content: "\e69f";
}

.icon-nodeplugin:before {
  content: "\e7b6";
}

.icon-nodedb_update:before {
  content: "\e93d";
}

.icon-nodedb_select:before {
  content: "\e93f";
}

.icon-nodehttp_external:before {
  content: "\e9d7";
}

.icon-nodematch_result:before {
  content: "\e600";
}

.icon-nodevariable_agg:before {
  content: "\e680";
}

.icon-nodestring_split:before {
  content: "\ed26";
}

.icon-nodehttp_inline:before {
  content: "\e619";
}

.icon-nodestart:before {
  content: "\e8e8";
}

.icon-nodeunserialize:before {
  content: "\e601";
}

.icon-nodeiterate:before {
  content: "\e62a";
}

.icon-nodeserialize:before {
  content: "\e665";
}

.icon-nodeif_else:before {
  content: "\e616";
}

.icon-nodellm:before {
  content: "\e8f1";
}

.icon-nodedb_insert:before {
  content: "\e80a";
}

.icon-nodedb_delete:before {
  content: "\e80b";
}

