/**
 * AppLogo组件样式
 *
 * @author huxuehao
 */

.app-logo {
  .logo-icon {
    width: 124px;
    height: 32px;
    flex-shrink: 0;
  }

  .logo-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
